section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 5px;
    gap: 10px;
}

section .logo{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    align-items: center;
    background-color:white;
}

section .busca{
    grid-column: 3/span 3;
    grid-row: 1/span 1;
    background-color:white;
}

section .cabecalho{
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    gap: 20px;
    background-color:papayawhip;
}

section .imagem{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    text-align: center;
    
  
    
}

section .texto{
    grid-column: 2/span 3;
    grid-row: 3/span 1;
    padding: 50px;
    text-align: justify;
    font-size: smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 250, 227);
    gap: 50px;
  
}

section .politicas{
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    padding: 30px;
    
}
section .pagamento{
    grid-column: 2/span 1;
    grid-row: 4/span 1;
    text-align: center;
    padding: 20px;
}

section .redes_sociais {
    grid-column: 3/span 1;
    grid-row: 4/span 1;
    text-align: center;
    padding: 20px;
}